.sidebar,
.label-name,
.menubar-menu-title:not(.toolbar-toggle-more),
.terminal,
.action-label:not(.codicon),
.menubar-menu-items-holder:last-child,
.statusbar-item-label,
.notification-list-item {
  font-family: "operator mono lig" !important;
}
.sidebar
  > .composite.has-composite-bar.header-or-footer
  > .composite-bar-container
  > .composite-bar
  > .monaco-action-bar
  > .actions-container {
  display: inline-flex !important;
  gap: 1rem !important;
}
